.task-item {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 30px;
    background: rgb(47, 43, 43);
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.task-item h3 {
    padding-left: 10px;
}

.task-item.true {
    text-decoration: line-through;
    color: #d06c6c;
}

.task-item.false h3 {
    color: cyan;
}

.todo-list {
    margin: 10px 0 0px 0;
}

.task-item h2 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin: 5px;
}

.task-item h3 {
    font-size: 24px;
    margin: 5px;
}


.user-input {
    width: 100%;
    font-size: 24px;
    margin: 10px 0;
    border-radius: 5px;
    padding-left: 10px;
}

.search {
    width: 100%;
    font-size: 24px;
    margin: 10px 0;
    border-radius: 5px;
    padding-left: 10px;
    background: #5fb5b5;
    color: white;
}

.search::placeholder {
    color: white;
}

.user-input::placeholder {
    font-size: 24px;
}

.input-btn {
    width: 40%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0;
}

.input-btn.add {
    background: #d06c6c;
    color: white;
}

.input-btn.clear {
    background: #6271b3;
    color: white;
}

.form h2 {
    font-size: 60px;
    margin-bottom: 0px;
    color: darkred;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hide {
    display: none;
}

.show {
    display: flex;
}