.task-item {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 30px;
    background: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.task-item h3 {
    padding-left: 10px;
}

.task-item.true h3 {
    text-decoration: line-through;
    color: darkred;
}

.task-item.false h3 {
    color: green;
}

.todo-list {
    margin: 10px 0 0px 0;
}

.task-item h2 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin: 5px;
}

.task-item h3 {
    font-size: 24px;
    color: darkred;
    margin: 5px;
}



.user-input {
    width: 100%;
    font-size: 24px;
    margin: 10px 0;
    border-radius: 5px;
    padding-left: 10px;
}

.user-input::placeholder {
    font-size: 24px;
}

.input-btn {
    width: 40%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0;
    background: black;
    color: rgb(118, 255, 6);
}

.input-btn:hover {
    color: white;
}

.form h2 {
    font-size: 60px;
    margin-bottom: 0px;
    color: darkred;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}