body {
    background: lightgrey;
}

* {
    box-sizing: border-box;
}

.App {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .App {
        width: 80%;
    }
}